@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center" style="background-color: transparent;">
    <div class="container">
        <h1 class="display-4">Welcome to Our Hotel</h1>
        <p class="lead">Experience luxury and comfort with us.</p>
    </div>
</div>

